.button-gradient {
    background: linear-gradient(black);
    color: white !important;
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s;
}

.button-gradient:hover {
    transform: scale(1.05);
}

.full-center {
    display: flex;
    justify-content: left; /* horizontalno */
    align-items: center;     /* vertikalno */
    height: 20vh;           /* visina viewporta */
}
